-- Run this in Supabase SQL Editor: https://supabase.com/dashboard/project/vkkruidkoxysualvmmkv/sql
-- Step 1: Add missing columns
ALTER TABLE markets ADD COLUMN IF NOT EXISTS image_url TEXT;
ALTER TABLE markets ADD COLUMN IF NOT EXISTS flag_url TEXT;
ALTER TABLE markets ADD COLUMN IF NOT EXISTS resolves_at TIMESTAMPTZ;
ALTER TABLE markets ADD COLUMN IF NOT EXISTS resolution_source TEXT;

-- Step 2: Insert markets
